.page-section {
    padding: 67px 0;
    &--first {
        padding: 0;
    }
    &--gray {
        background-color: @pale-grey-two;
    }
}
.page-section__text {
    margin-top: 12px;
    margin-bottom: 40px;
}